.fv{
    position: relative;
}
.fv__inner{
    width: 100%;
    height: 90vh;
    background-image: url(./img/fv.jpg);
    background-size: cover;
    background-position: 50% 80%;
}
.fv__body{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.fv__title{
    font-size: 3rem;
    color:$cWhite;
    margin-bottom: 20px;
}
.fv__text{
    font-size: 1.5rem;
    color:$cWhite;
    line-height: 1.7;
}

